*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

h1 {
    font-weight: 900;
    font-size: 10vw;
    margin: 0%;

    /*Create gradient for text */
    background-image: radial-gradient(circle at 12.3% 19.3%, rgb(195, 227, 173) 0%, rgb(17, 192, 99)100.2%);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
 
    position: absolute; 
    top: 40%; 
    left: 25%; transform: translate(-50%, -50%); 
    white-space: nowrap;
}

h2 {
    position: absolute; 
    top: 50%; 
    left: 27.5%; transform: translate(-50%, -50%); 
    white-space: nowrap;
}

h3 {
    font-size: 6vw;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.paddingGlobal{
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
}